<h1>Users</h1>
<p><%= @users.count %> users</p>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.user_type %></td>
    </tr>
  <% end %>
</table>
