<div class='container m-4 p-4'>
  <div class='row'>
    <div class='col-7'>
      <%= image_tag 'signup-image.jpg', class: 'home-img' %>
    </div>
    <div class='col-5 text-right align-self-center'>
      <h1>B U G Z I L L A</h1>
      <p>A &nbsp;  B u g &nbsp;  T r a c k i n g &nbsp;  S y s t e m</p>
    </div>
  </div>
</div>
