<h1>Bugs</h1>

<% @bugs.each do |bug| %>
  <p>
    <strong>ISSUE P<%= @project.id %>-B<%= bug.id %></strong>
  </p>

  <p><%= bug.title %></p>

  <%= link_to 'View', project_bug_path(bug.project, bug) %>
  <hr>
<% end %>
