/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 //= require 'users.scss'
 //= require 'dashboard.scss'
 //=require 'home.scss'
 //=require 'projects.scss'
 //=require 'bugs.scss'
 */

 @import 'bootstrap';

 body {
  margin: 0;
  padding: 0;
 }

 .c-nav {
  color: rgb(23, 29, 36) !important;
  height: 30px !important;
}

.c-active{
  font-weight: bold;
}

.nav > li > a:hover{
  background-color:rgb(216, 224, 225);
}

.error-msg {
  color: rgb(155, 31, 31);
  font-size: 12px;
}
