// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input_f {
  width: 75vw;
}

.label_f{
  font-weight: bold;
}

.desc {
  height: 20vh;
}
